.container {
  background-color: #abdbe3;
  width: 600px;
  height: 400px;
  outline: solid 2px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-heading {
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
}

li {
  margin: 5px 0;
}

.list-items {
  list-style: none;
  font-size: 24px;
  padding: 3px;
  outline: solid 1px gray;
}
