* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #abdbe3;
  width: 600px;
  height: 400px;
  outline: solid 2px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  outline: solid 2px black;
  border-radius: 5px;
}

#main-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
}

#heading {
  text-align: center;
}

button {
  padding: 7px;
  border-radius: 3px;
}

/* Part 1 to 4, 8 */

ul {
  text-align: center;
}

li {
  background-color: teal;
  margin: 5px 0;
  padding: 3px;
}

li:hover {
  background-color: black;
  color: white;
}

.list-items {
  list-style: none;
  font-size: 24px;
  padding: 3px;
  outline: solid 1px gray;
}

/* Part 6 */
/* .hidden-content {
  display: none;
}

.hidden-content.reveal-btn {
  display: block;
} */

/* Part 7 */
/* .div2 {
  height: 400px;
  outline: solid 2px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 {
  width: 300px;
  height: 200px;
  outline: solid 2px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
